AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-northeast-2
MANAGEMENT_ACCOUNT_ID=
CROSS_ACCOUNT_ROLE_NAME=AWSManagerReadOnlyRole
SECRET_KEY=msp-manager-secret-key-change-me
CMDB_URL=
CMDB_USER=
CMDB_PASS=
CMDB_COLLECTOR_INSTANCE=
CMDB_COLLECTOR_PATH=/root/jobs/cmdb-collect
